.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureTextContainer {
  margin: 15px;
}

.title {
  color: var(--ifm-code-font-color);
  font-weight: 600;
}
